<h2> K-NN Algorithm</h2>&nbsp;&nbsp;


<h3> What is K-NN algorithm?</h3>
<p>  K nearest neighbors is a simple algorithm that stores all available cases and classifies new cases based on a similarity measure.<br/> KNN can be used for both classification and regression predictive problems. However, it is more widely used in classification problems in the industry.<br/></p>

<h3>Algorithm Steps:</h3>
<p style="color:rgb(17, 73, 100)">
1. Determine parameter K = number of nearest neighbors.<br><br>

2. Calculate the distance between the query-instance and all the training samples.<br><br>

3. Sort the distance and determine nearest neighbors based on the K-th minimum distance.<br><br>

4. Use simple majority of the category of nearest neighbors as the prediction value of the query instance.<br><br>
</p>
&nbsp;
<img style="border:2px solid black;"  src="assets/KNNClasses.png"  class="center"><br/>

  