<h2>Nearest Neighbor Algorithm</h2>&nbsp;&nbsp;


<h3> What is NN algorithm ?</h3>
<p>
The nearest neighbour algorithm was one of the first algorithms used to solve the travelling salesman problem. <br/>In it, the salesman starts at a random city and repeatedly visits the nearest city until all have been visited. It quickly yields a short tour.</p>
<h3>Algorithm Steps:</h3>
<p style="color:rgb(17, 73, 100)">
1. Start on an arbitrary vertex as current vertex.<br/><br/>
2. Find out the shortest edge connecting current vertex and an unvisited vertex V.<br/><br/>
3. Set current vertex to V.<br/><br/>
4. Mark V as visited.<br/><br/>
5. If all the vertices in domain are visited, then terminate.<br/><br/>
6. Go to step 2.<br/><br/>
</p>
<br>
<br>
<br>
<a routerLink="/Tsp" href="#">    Example</a>