h2{
    text-align: center;
  }

.box{
    border-radius: 5px;
  background-color:  rgb(211, 239, 241);
  padding: 20px;
  box-align: center;
  width: 60%;
  margin-left: 20%;
}

.box1{
	text-align: center;
	color: #1A3C84;
	background-color: rgb(180, 228, 233);
	border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;

	}

p {
    background: rgb(200, 235, 238);
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;

}