<nav>
  <ul>
    <li>
      <b>
      <a style="text-decoration: none" routerLink="/Home" href="#" class="active">
        <i class="material-icons">Home</i>
      </a></b>
    </li>
    <li>
      <b>
        <a style="text-decoration: none" routerLink="/Algo" href="#">
          <i class="material-icons">Algorithm</i>
        </a></b>
      </li>
      <li>
        <b>
        <a style="text-decoration: none" routerLink="/Calculator" href="#">
          <i class="material-icons">Calculator For KNN</i>
        </a></b>
      </li>
  </ul>
</nav>