.inventory-body {
    height: 100%; 
    width: 100%;
   background-image: url('/assets/Depositphotos_20188645_l-2015-1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    top: 0;
    left:8.2%;
    
   
	opacity: 0.2;
}
    
.name {  
    background:black;
    border-radius: 5p;
    padding: 30px;
    margin-bottom: 8px;
	text-align: center;
	margin-top: 20%;
	font-size: 50px;
	opacity: 0.8;
	
	
	} 

	