<h2>Nearest Neighbor Distance Ratio Algorithm</h2>&nbsp;&nbsp;


<h3>What is Nearest neighbor distance ratio algorithm ?</h3>

<p>
Nearest neighbor distance ratio does not apply the approach on the direct distance from the original point to the challenger neighbor but on a ratio of it depending on the distance to the previous neighbor.
</p><br/>

<img style="border:1.5px solid black;" src="assets/fixed.png"  class="center"><br/>

<p >In Fig. The left image of Fig. (a) is a query image, where a reference descriptor is built within the region marked by a <span style="color:blue;">blue square</span>. The descriptor is denoted as p. In the right image of Fig. (a), the two regions marked by a <span style="color:red;"> red square </span> and a <span style="color:green;">green square </span> are the nearest neighbor and the second nearest neighbor to p. The keypoints centered at the <span style="color:red;"> red square </span> and the <span style="color:green;">green square </span> are denoted as q1 and q2 respectively. By visually observing Fig. (b) to (d), it is clear that p ↦ q2 is a correct match and p ↦ q1 is an incorrect match.</p>