<h3><u>Example:</u></h3> <br/>

<div id="header">
    <img style="border:1px solid black;" src="assets/TSP.png"  class="center">
    
</div><br/><br/>

<h3> Matrix form of Diagram :</h3>

<table border="2" >

<tr>
<td align="center">--</td>
<td align="center"><b>A</b></td>
<td align="center"><b>B</b></td>
<td align="center"><b>C</b></td>
<td align="center"><b>D</b></td>
</tr>
<tr>
<td align="center"><b>A</b></td>
<td align="center">--</td>
<td align="center">10</td>
<td align="center">15</td>
<td align="center">20</td>
</tr>
<tr>
<td align="center"><b>B</b></td>
<td align="center">10</td>
<td align="center">--</td>
<td align="center">35</td>
<td align="center">25</td>
</tr>
<tr>
<td align="center"><b>C</b></td>
<td align="center">15</td>
<td align="center">35</td>
<td align="center">--</td>
<td align="center">30</td>
</tr>
<tr>
<td align="center"><b>D</b></td>
<td align="center">20</td>
<td align="center">25</td>
<td align="center">30</td>
<td align="center">--</td>
</tr>
</table><br/><br/>

<h3>Solution:</h3>

<div>
    <p>Start from A: &nbsp; [ A->B->D->C ] &nbsp;&nbsp;Total disatnce = 80</p>
    <p>Start from B: &nbsp; [ B->A->C->D ] &nbsp;&nbsp;Total disatnce = 80</p>
    <p>Start from C: &nbsp; [ C->A->B->D] &nbsp;&nbsp;Total disatnce = 80</p>
    <p>Start from D: &nbsp; [ D->A->B->C ] &nbsp;&nbsp;Total disatnce = 95</p>
    <p><b>In this example Shortest path Total distance is 80 i.e we can start from A,B or C we get same disatnce.</b></p>
    
    </div>