.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}
p {
  background:rgb(200, 235, 238);
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 8px;

}
h2{
  text-align: center;
}