<h2>Fixed-Radius Near Neighbor Algorithm</h2>&nbsp;&nbsp;
<h3>What is Fixed-radius near neighbor algorithm ?</h3>

<p>
The fixed-radius near neighbor problem is a variant of the nearest neighbor search problem. <br/>In the fixed-radius near neighbor problem, one is given as input a set of points in d-dimensional Euclidean space and a fixed distance Δ.
</p>
&nbsp;
&nbsp;
<img style="border:1px solid black;" src="assets/radius.png" class="center"><br/>

<a  href="http://efekarakus.github.io/fixed-radius-near-neighbor/"> Go to Steps </a>