<h3> What is Machine Learning ?</h3>
<p>Machine learning is an application of artificial intelligence (AI) that provides systems the ability to automatically learn and improve from experience without being explicitly programmed.</p>
&nbsp;
<h3> What is an Algorithm ? </h3>
<p> 
  An algorithm is a step by step method of solving a problem. It is commonly used for data processing, calculation and other related computer and mathematical operations.

  An algorithm is also used to manipulate data in various ways, such as inserting a new data item, searching for a particular item or sorting an item.
</p>
&nbsp;
<h3>What is Nearest Neighbor Search ​?</h3>
<p>
    Nearest neighbor search, as a form of proximity search, is the optimization problem of finding the point in a given set that is closest to a given point. 
</p>
&nbsp;
<h3>History of NN rule</h3>
<p>
   NN rule was found by <b>Alhazen.</b>

<b>Marcello Pelillo</b> looked back in history.

Pelillo refers often to the famous "<u>Cover and Hart paper (1967)</u>" . That paper shows what happens if a very large aselectively chosen training set is used.
 
Before Cover and Hart the rule was mentioned by <b>Nilsson (1965)</b> who called it “<u>minimum distance classifier</u>” and by <b>Sebestyen (1962)</b>, who called it “<u>proximity algorithm</u>”.

</p>